@import '~@angular/material/theming';
@include mat-core();

$mat-primary: (
  50: #f2f4f5,
  100: #dde2e5,
  200: #bcc9d1,
  300: #7793a5,
  400: #314d64,
  500: #1f3c53,
  600: #17466d,
  700: #0c3455,
  800: #07263f,
  900: #040f18,
  A100: #f2f4f5,
  A200: #95a7b1,
  A400: #69899b,
  A700: #567f97,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $dark-primary-text,
    400: $dark-primary-text,
    500: $dark-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: $dark-primary-text,
    A200: $dark-primary-text,
    A400: $dark-primary-text,
    A700: $dark-primary-text,
  )
);

$candy-app-primary: mat-palette($mat-primary);
$candy-app-accent:  mat-palette($mat-primary, A200, A100, A400);
$candy-app-warn:    mat-palette($mat-red);
$candy-app-theme: mat-light-theme($candy-app-primary, $candy-app-accent, $candy-app-warn);

@include angular-material-theme($candy-app-theme);
