<div class="landing">

  <!-- The features section -->
  <div class="landing__features">

    <!-- The feature cards -->
    <mat-card *ngFor="let card of cards"
              class="feature-card">
      <mat-card-header>
        <div mat-card-avatar>
          <mat-icon>{{ card.icon }}</mat-icon>
        </div>
        <mat-card-title>{{ card.title }}</mat-card-title>
      </mat-card-header>

      <mat-card-content>
        <p>{{ card.description }}</p>
      </mat-card-content>
    </mat-card>
  </div>
</div>