.landing {
	$text-primary-color: #1f3c53;

	margin: 80px auto 0 auto;
	max-width: 1600px;
	transition-duration: 0.5s;
	transition-property: width margin;
	width: 70%;

	@media screen and (max-width: 1000px) {
		width: 90%;
	}

	@media screen and (max-width: 800px) {
		margin: 30px auto 0 auto;
	}

	// #region Features

	&__features {
		display: grid;
		grid-gap: 20px;
		grid-template-columns: repeat(3, 1fr);
		position: relative;

		@media screen and (max-width: 800px) {
			grid-template-columns: 1fr;
		}

		.feature-card {
			background-color: #f2f4f5;
			color: $text-primary-color;
			height: auto;
		}
	}

	// #endregion
}
