.content {
  cursor: pointer;
  display: flex;

  height: 56px;
  overflow: hidden;

  transition-duration: 0.3s;
  transition-property: background-color;

  &:hover {
    background-color: #e2e2e2;
  }

  .left {
    img {
      max-width: 120px;
    }
  }

  .right {
    margin-left: 8px;

    .name {
      margin: 0 0 5px 0;
      padding: 0;

      color: #1f3c53;
      font-weight: 500;
    }

    .type {
      background-color: #1f3c53;
      color: white;

      border-radius: 4px;
      padding: 5px;

      font-size: 1.2rem;
      font-weight: 100;
    }
  }
}
