.search {
	$text-primary-color: #1f3c53;

	margin: auto;
	max-width: 1600px;

	a {
		color: $text-primary-color;
		font-weight: 500;
		text-decoration: none;
	}

	// #region Header

	&__header {
		border: 1px dashed blue;
	}

	&__head {
		display: flex;
		flex-direction: row;
		margin: auto;
		overflow: hidden;
		padding: 150px 0 200px 0;
		transition-property: padding width;
		transition-duration: 0.5s;
		width: 70%;

		@media screen and (max-width: 1100px) {
			padding: 150px 0;
		}

		@media screen and (max-width: 1000px) {
			padding: 120px 0;
			width: 750px;
		}

		@media screen and (max-width: 800px) {
			padding: 100px 0;
		}
	}

	&__container {
		display: flex;
		flex: 1;
		flex-direction: column;
		position: relative;
		transition-property: padding;
		transition-duration: 0.5s;

		@media screen and (max-width: 1000px) {
			padding: 0 50px;
		}
	}

	&__title {
		color: $text-primary-color;
		font-size: 5rem;
		margin: 0;
	}

	&__subtitle {
		color: $text-primary-color;
		font-size: 2rem;
		margin: 0 0 20px 0;
	}

	&__description {
		color: $text-primary-color;
		margin: 0;
	}

	&__logo {
		opacity: 0.2;
		position: absolute;
		top: -100%;
		transition-property: width;
		transition-duration: 0.5s;
		right: 0;
		width: 60%;

		@media screen and (max-width: 1299px) {
			width: 70%;
		}

		@media screen and (max-width: 1100px) {
			width: 80%;
		}
	}

	// #endregion

	// #region Content

	&__content {
		border: 1px dashed red;
	}

	// #endregion
}
