<div class="search">
  <div class="search__header">
    <div class="search__container">
      <h1 class="search__title">Steam</h1>
      <h2 class="search__subtitle">Missing Content Lookup</h2>
      <p class="search__description">
        Easily lookup up missing DLC, Sequels, Prequesl, Spin-Offs... etc from your
        <a href="https://store.steampowered.com/">Steam </a> library. </p>
    </div>
    <div class="search__container search__container--right">
      <img
        class="search__logo"
        src="assets/logo.png"
        alt="Steam Missing Content Lookup Logo"
      >
    </div>
  </div>
  <div class="search__content">
    <div class="search__control">
      <mat-form-field
        class="search__field"
        appearance="standard"
      >
        <mat-label>Fill form field</mat-label>
        <input
          matInput
          placeholder="Placeholder"
        >
        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
        <mat-hint>Hint</mat-hint>
      </mat-form-field>
    </div>
  </div>
</div>
