<div class="lookup">

  <!-- The main container -->
  <mat-card class="lookup__main">
    <ng-container [ngSwitch]="currentSearch.state">

      <!-- The content -->
      <div *ngSwitchCase="1"
           class="lookup__content">
        Success: <b>{{ user.id }}</b> loaded

        <hr>

        <ul *ngIf="user && user.games">
          <li *ngFor="let game of user.games; let i = index"> {{ i + 1 }} - {{ game.name }} </li>
        </ul>
      </div>

      <!-- The error -->
      <div *ngSwitchCase="0"
           class="lookup__error">
        <mat-icon class="icon"
                  size="large"
                  aria-hidden="false"
                  aria-label="Error icon">warning</mat-icon>
        <span class="message">{{ currentSearch.details.error.message }}</span>
      </div>

      <!-- The loader -->
      <div *ngSwitchDefault
           class="lookup__loader">
        <mat-spinner class="loader"
                     diameter="50"></mat-spinner>
        <span class="message">{{ getLoadingMessage() }}...</span>
      </div>
    </ng-container>
  </mat-card>
</div>