.lookup {
  margin: 50px auto;
  max-width: 1000px;
  transition-duration: 0.5s;
  transition-property: width;
  width: 70%;

  @media screen and (max-width: 750px) {
    margin: 8px auto;
    width: 100%;
  }

  &__main {
    background-color: #f2f4f5;
    min-height: 300px;
  }

  &__loader {
    align-items: center;
    display: flex;
    flex-direction: column;
    min-height: 300px;
    width: 100%;

    .loader {
      margin-top: 80px;
    }

    .message {
      margin-top: 20px;
      text-align: center;
    }
  }
}