.lookup {
  margin: 50px auto;
  max-width: 1000px;
  transition-duration: 0.5s;
  transition-property: width;
  width: 70%;

  @media screen and (max-width: 750px) {
    margin: 8px auto;
    width: 100%;
  }

  &__head, &__main {
    background-color: #f2f4f5;
  }

  &__loader, &__error {
    align-items: center;
    display: flex;
    flex-direction: column;
    min-height: 300px;
    width: 100%;

    .loader, .icon {
      margin-top: 80px;
    }

    .icon {
      color: #1f3c53;
      margin-bottom: 10px;
      transform: scale(2.5);
    }

    .message {
      margin-top: 20px;
      text-align: center;

      &--loader {
        &::after {
          animation-duration: 3s;
          animation-iteration-count: infinite;
          animation-name: loadingDots;
          animation-timing-function: linear;
          content: '';
        }

        @keyframes loadingDots {
          25% {
              content: '.';
          }

          50% {
              content: '..';
          }

          75% {
              content: '...';
          }
        }
      }
    }
  }

  &__main {
    margin-top: 20px;
  }

  &__user {
    display: flex;
    flex-direction: row;

    .col {

      &:first-of-type {
        max-height: 180px;
        max-width: 180px;
        position: relative;

        .level {
          background-color: #1f3c53;
          border: 2px #dde2e5 solid;
          border-radius: 50%;
          box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.3);
          color: #dde2e5;
          font-weight: bold;
          left: 0;
          padding: 10px;
          position: absolute;
          top: 0;
          transform: translate(-50%, -50%);
        }

        .avatar {
          height: 100%;
          width: 100%;
        }
      }

      &:last-of-type {
        margin-left: auto;
      }
    }
  }
}