<div class="lookup">

  <!-- The head container -->
  <mat-card class="lookup__head">
    <ng-container [ngSwitch]="currentSearch.state">

      <!-- The user's info -->
      <div *ngSwitchCase="1"
           class="lookup__user">

        <div class="col">

          <!-- The Steam level -->
          <span class="level"
                [title]="user.username + '\' Steam level'">{{ user.level }}</span>

          <!-- The user's avatar -->
          <img class="avatar"
               [src]="user.avatar"
               [alt]="user.username + ' \' avatar'">
        </div>

        <div class="col">

          <!-- The username -->
          <span title="The username"
                class="username">{{ user.username }}</span>

          <!-- The real name -->
          <span title="The real name"
                class="realname">{{ user.realname }}</span>

          <!-- The Steam ID -->
          <span title="The Steam ID"
                class="steamid">{{ user.id }}</span>
        </div>

        <div class="col">

          <!-- The Steam state -->
          <span class="state">{{ getSteamState(user.state) }}</span>

          <!-- The time in which the user was last online -->
          <span class="lastlogoff">Last seen on {{ user.lastOnline | date:'dd/mm/yyyy' }}</span>
        </div>
      </div>

      <!-- The error -->
      <div *ngSwitchCase="0"
           class="lookup__error">
        <mat-icon class="icon"
                  size="large"
                  aria-hidden="false"
                  aria-label="Error icon">warning</mat-icon>
        <span class="message">{{ currentSearch.details.error.message }}</span>
      </div>

      <!-- The loader -->
      <div *ngSwitchDefault
           class="lookup__loader">
        <mat-spinner class="loader"
                     diameter="50"></mat-spinner>
        <span class="message message--loader">{{ getLoadingMessage() }}</span>
      </div>
    </ng-container>
  </mat-card>

  <!-- The main container -->
  <mat-card *ngIf="loadingFinished()"
            class="lookup__main">
    <ul *ngIf="user && user.apps">
      <li *ngFor="let app of user.apps; let i = index">
        {{ i + 1 }} - <app-steam-app [app]="app"></app-steam-app>
      </li>
    </ul>
  </mat-card>
</div>